{% extends "/views/base.html" %}

{% block main %}
<div id="centerbottom" style="font-size:12px; width:1000px;">
    <!--MAIN LAYOUT HOLDER -->
    <div id="holder2">
        <!-- messages -->

        <div id="system-message-container">
        </div>
        <!-- end messages -->
        <!-- MID BLOCK -->
        <div id="midblock" style="width:100%;">
            <div class="insidem">
                <div id="yjsgbodytop" style="font-size:12px;">
                    <div id="bodytop1" class="yjsgxhtml" style="width:100.00%;">
                        <div class="yjsquare">
                            <h4>
                                <span>About</span> Us  </h4>
                            <div class="yjsquare_in"><p>PriDoc has been developed by Emani Software Limited, a company formed for the purpose by Les Isaacs and David Martin.</p>
                                <p>&nbsp;</p>
                                <h3>Les Isaacs - Product Development Director</h3>
                                <p>Les was the Practice Manager of a group of 3 GP Practices in Merseyside, and now runs PayeDoc – a specialist Payroll Agency for General Practice.</p>
                                <p>&nbsp;</p>
                                <h3>David Martin - Software Development Director</h3>
                                <p><img src="{{g.static('/source/images/david.jpg').url.path}}" border="0" alt="David Martin" width="200" height="150" style="border: 0; float: left; margin: 20px;"></p>
                                <p>David is a Software Developer with over 20 years' experience in the I.T. industry. He is a specialist in application development and database management. He spent 7 years as a programmer at the North West Regional Health Authority's Computer Centre working on the NHS Standard Payroll System.</p>
                                <p>&nbsp;</p>
                                <h3>&nbsp;</h3>
                                <p>&nbsp;</p></div>
                        </div>

                    </div>
                </div>
                <!-- component -->
                <div class="yjsg-newsitems">
                    <div class="yjsg-blog_c">







                    </div>
                </div>
                <!-- end component -->
                <div class="clearm"></div>
            </div>
            <!-- end mid block insidem class -->
        </div>
        <!-- end mid block div -->


    </div>
    <!-- end holder div -->

</div>
{% endblock %}