<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{doc.locale}}" lang="{{doc.locale}}" >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="PriDoc, GPMS software, General Practice, Recruitment, Personnel, Scheduler, Rotas, Payroll, Accounts, Rota planner, GP admin" />
    <link rel="shortcut icon" href="{{g.static('/source/images/favicon.ico').url.path}}" type="image/vnd.microsoft.icon">
    <meta name="description" value="{{_(podspec.description)}}">
    <title>{{_(podspec.title)}} – {{_(doc.title)}}</title>

    <link rel="stylesheet" href="{{g.static('/dist/main.min.css').url.path}}">
  </head>
  <body id="stylef6">
  <div id="centertop" style="font-size:12px; width:1000px;">
    <!--header-->
    <div id="header" style="height:100px;">
      <div id="logo" class="png" style="height:100px;width:50%;">
        <a href="{{g.doc('/content/pages/index.yaml', locale=doc.locale).url.path}}" style="height:100px;"></a>
      </div>
      <!-- end logo -->
      <!--<div id="yjsgheadergrid" style="width:50%;">-->
        <!--<div id="header3" class="yjsgxhtml" style="width:100.00%;">-->
          <!--<div class="yjsquare">-->
            <!--<div class="yjsquare_in">-->
              <!--<p>-->
                <!--<img src="{{ g.static('/source/images/contact-info-v2.png').url.path }}" border="0" alt="" style="float: right;" />-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
      <div id="yjsgheadergrid" style="width:50%;">
        <div class="header__info">
          <h4>Need Assistance?</h4>
          <p>Please give us a call for more information on our software and how it can help you.</p>
          <p class="phone">0333 303 1194</p>
        </div>
      </div>
    </div>
    <!-- end header -->
    <!--top menu-->
    <div id="topmenu_holder">
      <div class="top_menu" style="font-size:12px;">
        <div id="horiznav" class="horiznav">
          <ul class="menunav">
            {% for page in g.docs('/content/pages') %}
            <li {% if doc == page %}class="active"{% endif %}>
              <a href="{{page.url.path}}">{{page.titles('nav')}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- end top menu -->
    <div id="yjsg2">
      <div id="adv1" class="yjsgxhtml" style="width:100.00%;">
        <div class="yjsquare">
          <div class="yjsquare_in"><p><img src="{{ g.static('/source/images/pridocbanner-web.jpg').url.path }}" border="0" alt="" /></p></div>
        </div>

      </div>
    </div>
  </div>
  <!-- end centartop-->
  {% block main %}
    {{doc.html|safe}}
  {% endblock %}
  <!-- end centerbottom-->
  <div id="yjsg7" class="footer" style="font-size:12px; width:1000px;">
    <div id="user21" class="yjsgxhtml" style="width:30%;">
      <div class="yjsquare">
        <h4>
          <span>Contact</span> Details  </h4>
        <div class="yjsquare_in"><p><strong>Sales &amp; General Enquiries:</strong> <br />
          <script type='text/javascript'>
              <!--
              var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
              var path = 'hr' + 'ef' + '=';
              var addy95591 = '&#101;nq&#117;&#105;r&#105;&#101;s' + '&#64;';
              addy95591 = addy95591 + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
              var addy_text95591 = '&#101;nq&#117;&#105;r&#105;&#101;s' + '&#64;' + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
              document.write('<a ' + path + '\'' + prefix + ':' + addy95591 + '\'>');
              document.write(addy_text95591);
              document.write('<\/a>');
              //-->\n </script><script type='text/javascript'>
                <!--
                document.write('<span style=\'display: none;\'>');
                //-->
          </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
          <script type='text/javascript'>
              <!--
              document.write('</');
              document.write('span>');
              //-->
          </script> </p>
          <p><strong>Technical Support &amp; Assistance:</strong> <br />
            <script type='text/javascript'>
                <!--
                var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                var path = 'hr' + 'ef' + '=';
                var addy18833 = 't&#101;ch' + '&#64;';
                addy18833 = addy18833 + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
                var addy_text18833 = 't&#101;ch' + '&#64;' + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
                document.write('<a ' + path + '\'' + prefix + ':' + addy18833 + '\'>');
                document.write(addy_text18833);
                document.write('<\/a>');
                //-->\n </script><script type='text/javascript'>
                  <!--
                  document.write('<span style=\'display: none;\'>');
                  //-->
            </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
            <script type='text/javascript'>
                <!--
                document.write('</');
                document.write('span>');
                //-->
            </script></p>
          <p>&nbsp;</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>Tel:</strong> <strong>0333 303 1194</strong> </p></div>
      </div>

    </div>
    <div id="user22" class="yjsgxhtml" style="width:40%;">
      <div class="yjsquare">
        <h4>
          <span>Ultimate</span> Practice Management Software  </h4>
        <div class="yjsquare_in"><p>...... imagine having a powerful, graphical Staff Rota Planner (Scheduler) that can feed directly into your Payroll system, while all the time maintaining accurate and detailed Personnel records ...... that's all possible with<strong><em> PriDoc</em></strong>!</p></div>
      </div>

    </div>
    <div id="user23" class="yjsgxhtml" style="width:30%;">
      <div class="yjsquare">
          <h4>
            <span>Video</span> Demonstrations
          </h4>
          <ul class="yjsquare_in videos">
            {% for video in g.yaml('/content/videos.yaml') %}
            <li><a href="/static/videos/{{video.filename}}" target="_blank" title="{{video.title}}">{{video.text}}</a></li>
            {% endfor %}
          </ul>
      </div>

    </div>
  </div>
  <!-- footer -->
  <div id="footer"  style="font-size:12px; width:1000px;">
    <div id="youjoomla">
      <div id="footmod">
        <h6>© Emani Software Limited 2017. All rights reserved.  </h6>
      </div>
      <div id="cp">
        <div class="validators"><a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3" target="_blank" title="CSS Validity" style="text-decoration: none;">CSS Valid | </a><a href="http://validator.w3.org/check/referer" target="_blank" title="XHTML Validity" style="text-decoration: none;">XHTML Valid | </a><a href="#stylef6">Top</a></div><br /><div class="yjsgcp">Copyright &copy; PriDoc. All rights reserved. Custom <a href="http://www.designbydesignated.com" title="Designated Design">Design by Designated </a></div>					       </div>
    </div>
  </div>
  <!-- end footer -->
  </body>
  </html>
