{% extends "/views/base.html" %}

{% block main %}
<div id="centerbottom" style="font-size:12px; width:1000px;">
    <!--MAIN LAYOUT HOLDER -->
    <div id="holder2">
        <!-- messages -->

        <div id="system-message-container">
        </div>
        <!-- end messages -->
        <!-- MID BLOCK -->
        <div id="midblock" style="width:100%;">
            <div class="insidem">
                <div id="yjsgbodytop" style="font-size:12px;">
                    <div id="bodytop1" class="yjsgxhtml" style="width:100.00%;">
                        <div class="yjsquare">
                            <h4>
                                <span>How</span> To Contact PriDoc  </h4>
                            <div class="yjsquare_in"><p>If you would like to ask us a question, or want to know more about our software and are not sure who to contact, you can use the simple form to make an enquiry.</p>
                                <p>Or alternatively:</p>
                                <h3>Call us:</h3>
                                <p><strong>0333 303 1194</strong></p>
                                <h3>Email us:</h3>
                                <p><strong>Sales &amp; General Enquiries:</strong> <br>
                                    <script type="text/javascript">
                                        <!--
                                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                                        var path = 'hr' + 'ef' + '=';
                                        var addy24622 = '&#101;nq&#117;&#105;r&#105;&#101;s' + '&#64;';
                                        addy24622 = addy24622 + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
                                        var addy_text24622 = '&#101;nq&#117;&#105;r&#105;&#101;s' + '&#64;' + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
                                        document.write('<a ' + path + '\'' + prefix + ':' + addy24622 + '\'>');
                                        document.write(addy_text24622);
                                        document.write('<\/a>');
                                        //-->\n </script><script type="text/javascript">
                                        <!--
                                        document.write('<span style=\'display: none;\'>');
                                        //-->
                                    </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
                                <p><strong>Technical Support &amp; Assistance:</strong> <br>
                                    <script type="text/javascript">
                                        <!--
                                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                                        var path = 'hr' + 'ef' + '=';
                                        var addy98826 = 't&#101;ch' + '&#64;';
                                        addy98826 = addy98826 + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
                                        var addy_text98826 = 't&#101;ch' + '&#64;' + 'pr&#105;d&#111;c' + '&#46;' + 'c&#111;' + '&#46;' + '&#117;k';
                                        document.write('<a ' + path + '\'' + prefix + ':' + addy98826 + '\'>');
                                        document.write(addy_text98826);
                                        document.write('<\/a>');
                                        //-->\n </script><script type="text/javascript">
                                        <!--
                                        document.write('<span style=\'display: none;\'>');
                                        //-->
                                    </script><span style="display: none;">This e-mail address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span></p>
                                <h3>Post:</h3>
                                <p>Emani Software Ltd. <br>194 Meols Parade <br>Meols <br>Wirral <br>CH47 6AW</p></div>
                        </div>

                    </div>
                </div>
                <!-- component -->
                <div class="yjsg-newsitems">
                    <div class="yjsg-blog_c">







                    </div>
                </div>
                <!-- end component -->
                <div class="clearm"></div>
            </div>
            <!-- end mid block insidem class -->
        </div>
        <!-- end mid block div -->


    </div>
    <!-- end holder div -->

</div>
{% endblock %}