{% extends "/views/base.html" %}

{% block main %}
<div id="centerbottom" class="container download-page">
    <!--MAIN LAYOUT HOLDER -->
    <div id="holder2">
        <!-- messages -->

        <div id="system-message-container">
        </div>
        <!-- end messages -->
        <!-- MID BLOCK -->
        <div id="midblock" style="width:100%;">
            <div class="insidem">
                <div id="yjsgbodytop" style="font-size:12px;">
                    <div id="bodytop1" class="yjsgxhtml" style="width:100.00%;">
                        <div class="yjsquare">
                            <h4>
                                <span>Free</span> 30 Day Trial  </h4>
                            <div class="yjsquare_in"><p><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">If you want to see what PriDoc is like to use first hand, just follow the instructions given below in order to download a free 30 day trial. Alternatively, to receive your free 30-day trial on a CD-ROM, just get in touch (<a class="sticky" href="{{g.doc('/content/pages/contact.yaml').url.path}}" target="_blank" title="Contact Us">Contact Us</a></span>).</p>
                                <p><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">To view a list of the prerequisite software and minimum hardware and software requirements for running the PriDoc System, please see the <a href="{{g.static('/source/docs/readme.htm').url.path}}" target="_blank" title="Installation Requirements for PriDoc">Installation Requirements</a> page.</span></p></div>
                        </div>

                    </div>
                </div>
                <!-- component -->
                <div class="yjsg-newsitems">
                    <div class="yjsg-blog_c">







                    </div>
                </div>
                <!-- end component -->
                <div id="yjsgbodybottom" style="font-size:12px;">
                    <div id="bodybottom1" class="yjsgxhtml" style="width:100.00%;">
                        <div class="yjsquare">
                            <div class="yjsquare_in"><h4>Instructions</h4>
                                <h2><img src="{{g.static('/source/images/arrow.png').url.path}}" border="0" height="12" style="border: 0;">&nbsp; <a href="https://pridoc.blob.core.windows.net/free-download/Free_Trial_of_PriDoc_v30.2.0.exe" title="Download free PriDoc Installer and Demo Database">Download Free Trial of PriDoc</a></h2>
                                <ol>
                                    <li>Click the link shown just above to start the download (this may take several minutes depending on the speed of your internet connection). The Demo Database comes prepopulated with fictitious employees and their job details.</li>
                                    <li>Save the download to your computer by clicking the Save button.</li>
                                    <li><em><strong>Run,</strong> <strong>as an administrator</strong></em>, the program that you downloaded above and then carry out the following steps:&nbsp; &nbsp;</li>
                                </ol>
                                <ul>
                                    <li>
                                        <p>(A) In the menu that appears, choose the option called <em><strong>“Install PriDoc Database”</strong></em> and the setup wizard should then begin. When you receive the message confirming that the PriDoc Database has been successfully installed, the programme will prompt you to <em><strong>install the Application</strong></em>: click “Yes” .</p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>(B) After the PriDoc Application has been installed, click <em><strong>“Install Reporting Tools”</strong></em> on the main menu and then follow the on-screen instructions.&nbsp;</p>
                                    </li>
                                    <li>(C) Click <em><strong>"Welcome Letter"</strong></em> on the main menu and read the important instructions and tips it contains.</li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>(D) If you wish to test the multi-user capabilities of PriDoc, you can install the Application on other PCs in the Practice by copying the downloaded file to the relevant PCs. On each PC, simply double click the copied file and in the menu that appears, action the options called <em><strong>“Setup PriDoc Application”</strong></em> and <em><strong>“Install Reporting Tools”</strong></em>.</p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <p>(E) To start using PriDoc, either click the new PriDoc icon&nbsp;<img src="{{g.static('/source/images/favicon.ico').url.path}}" border="0" width="24" height="24" style="border: 0;"> on your desktop , or click Start &gt; All Programs &gt; PriDoc.</p>
                                    </li>
                                </ul></div>
                        </div>

                    </div>
                </div>
                <div class="clearm"></div>
            </div>
            <!-- end mid block insidem class -->
        </div>
        <!-- end mid block div -->


    </div>
    <!-- end holder div -->

</div>
{% endblock %}