{% extends "/views/base.html" %}

{% block main %}
<div id="centerbottom" style="font-size:12px; width:1000px;">
    <!--MAIN LAYOUT HOLDER -->
    <div id="holder2">
        <!-- messages -->

        <div id="system-message-container">
        </div>
        <!-- end messages -->
        <!-- MID BLOCK -->
        <div id="midblock" style="width:100%;">
            <div class="insidem">
                <!-- component -->
                <div class="yjsg-newsitems">
                    <div class="yjsg-blog_f">

                        <div class="yjsg-leadingarticles">
                            <div class="leading-0">
                                <div class="news_item_f">

                                    <div class="title">
                                        <h2>
                                            Welcome to PriDoc					</h2>
                                    </div>

                                    <div class="newsitem_text">



                                        <h3>PriDoc is a software application, designed specifically for General Practice and aimed at helping with many of the management functions that take place including Recruitment, Personnel, Rotas, Payroll and Accounts. </h3>
                                        <h3>You can choose from 7 different software modules according to your requirements.</h3>
                                        <h3>Just buy the module(s) you want or buy all 7 modules to build a fully comprehensive Management System for General Practice.</h3>
                                    </div>


                                    <a class="readon" href="/index.php/8-home/46-welcome-to-pridoc">
		<span>
		Read more...		</span>
                                    </a>
                                </div>
                                <span class="article_separator">&nbsp;</span>
                            </div>
                        </div>



                    </div>
                </div>
                <!-- end component -->
                <div id="yjsgbodybottom" style="font-size:12px;">
                    <div id="bodybottom2" class="yjsgxhtml" style="width:50.00%;">
                        <div class="yjsquare">
                            <h4>
                                <span>Free</span> Download  </h4>
                            <div class="yjsquare_in"><p><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">If you want to see what PriDoc is like to use first hand, just click the </span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><a class="sticky" href="/index.php/free-download" target="_blank" title="Free Download">Free Download</a></span> <span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">page and</span> <span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">follow the instructions</span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">. Alternatively, to receive your free 30-day trial on a CD-ROM, just get in touch (<a class="sticky" href="/index.php/contact-us" target="_blank" title="Contact Us">Contact Us</a></span>).</p>
                                <p><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">To view a list of the prerequisite software and minimum hardware and software requirements for running the PriDoc System, please see the <a href="/docs/Readme.htm" target="_blank" title="Installation Requirements for PriDoc">Installation Requirements</a> page.</span></p></div>
                        </div>

                    </div>
                    <div id="bodybottom3" class="yjsgxhtml" style="width:50.00%;">
                        <div class="yjsquare">
                            <div class="yjsquare_in"><p><img src="{{ g.static('/source/images/femalemedic.jpg').url.path }}" class="rounded" border="0" alt="Female Medic" height="200" style="display: block; margin-left: auto; margin-right: auto; border-width: 0px; border-color: currentColor; border-style: none;" /></p></div>
                        </div>

                    </div>
                </div>
                <div class="clearm"></div>
            </div>
            <!-- end mid block insidem class -->
        </div>
        <!-- end mid block div -->


    </div>
    <!-- end holder div -->

</div>

{% endblock %}