{% extends "/views/base.html" %}

{% block main %}
<div id="centerbottom" style="font-size:12px; width:1000px;">
    <!--MAIN LAYOUT HOLDER -->
    <div id="holder2">
        <!-- messages -->

        <div id="system-message-container">
        </div>
        <!-- end messages -->
        <!-- MID BLOCK -->
        <div id="midblock" style="width:100%;">
            <div class="insidem">
                <!-- component -->

                <div class="news_item_a">



                    <div class="title">
                        <h1>
                            10 Reasons to Use PriDoc					</h1>
                    </div>




                    <div class="newsitem_text">



                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>1.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">By showing holidays, sickness and other absences all together, the <strong>Daily Planner</strong> (in the Scheduler module) makes it <strong>easy to identify where overtime is likely to be required</strong> (or, later, why overtime <em>was</em> required). The same view is then used to enter overtime, and any further absences, so you can see all the relevant information together.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>2.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">The same view is also used to enter <strong>‘time-off-in-lieu' (TOIL)</strong> hours – both worked and ‘taken back’, so that <strong>each employee’s TOIL balance can easily be monitored</strong>.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>3.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">By entering the attendance and absence information, and the Personnel details, onto the computer via PriDoc, the data is <strong>secure </strong>(and can be backed up frequently), <strong>fully auditable</strong>, and <strong>easily searchable </strong>at any future date: and it’s legible!</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>4.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">The attendance/absence and Personnel information that’s entered is used directly by PriDoc's Payroll module, which avoids the need for transferring this information from one system to another. This <strong>saves time and enhances accuracy</strong>.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>5.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><strong><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Weekly, monthly and yearly views</span></strong><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"> are also provided, and all the <strong>views can be filtered </strong>to show any user-defined group of employees (e.g. Reception, Treatment room, Administration, etc.).</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>6.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">PriDoc is available across the Practice network, so that all staff and Partners can – subject to password control – see the various views. This <strong>avoids the risk of there being separate (and different) records </strong>of overtime, sickness, etc., in various diaries, timesheets, spreadsheets, filing cabinets, . . . . .</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>7.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">While <strong>Payroll processing</strong> can often be straightforward, sometimes there are issues that require significant time. PriDoc can deal with these matters very effectively and <strong>the time saved can be considerable</strong>. For example:</span></p>
                        <p>&nbsp;&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 45pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>a.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Deciding when an employee on long term sick leave is to drop to half pay, or SSP only, according to the <strong>Practice Sick Pay Policy</strong>: and then calculating pay in these circumstances.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 45pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>b.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Calculating pay where some of an employee’s normal hours, or overtime hours, are to be paid at time-and-a-half, etc..</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 45pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>c.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Calculating pay where an employee’s hourly rate increases during the month. </span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 45pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>d.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Setting employees’ NHS Pension Scheme contribution rates according to the published contribution rate tiers.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 45pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>e<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Automatically recording disallowed days for unpaid leave (important for NHS Pension Scheme members).</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 45pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>f.<span style="font: 7pt 'Times New Roman';">&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">Submitting Joiner, Leaver and End-of-Year returns to the NHS Pension Scheme.</span></p>
                        <p class="MsoBodyTextIndent" style="line-height: 150%;">&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>8.<span style="font: 7pt 'Times New Roman';">&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">&nbsp;The system makes it very easy to <strong>manage annual holidays in terms of hours</strong>. This is much fairer where employees work days of different lengths, and also means that, for example, late arrivals/early departures can be taken as annual leave.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>9.<span style="font: 7pt 'Times New Roman';">&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';">&nbsp;The system also makes it very easy to <strong>implement a fair – and legal – policy for giving part-time staff paid time off for Bank Holidays</strong>. This is a legal requirement and, unless it is met, leaves the Practice open to being taken to Industrial Tribunal by a disgruntled employee.</span></p>
                        <p>&nbsp;</p>
                        <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt 18pt; text-indent: -18pt; line-height: 150%;"><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><span>10.<span style="font: 7pt 'Times New Roman';">&nbsp; </span></span></span><span style="font-size: 10pt; line-height: 150%; font-family: 'Arial','sans-serif';"><strong>Holiday entitlement balances</strong> are automatically monitored and when employees change their weekly hours, PriDoc <strong>automatically recalculates their annual holiday entitlement </strong>on a ‘pro rata’ basis.</span></p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <!--end news item -->

                <!-- end component -->
                <div class="clearm"></div>
            </div>
            <!-- end mid block insidem class -->
        </div>
        <!-- end mid block div -->


    </div>
    <!-- end holder div -->

</div>
{% endblock %}