@import "template";
@import "metal";
@import "mobile";

.rounded {
  border-radius: 5px;
}

.header__info {
  max-width: 328px;
  float: right;
  color: #19548b;
  h4 {
    color: #11a3c7;
    font-size: 20px;
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
  .phone  {
    margin-top: 3px;
    color: #0c7bae;
    font-size: 24px;
  }
}

.videos {
  list-style: disc;
  padding: 5px 20px;
  li {
    padding: 3px 0;
    margin: 6px 0;
    line-height: 18px;
  }
}

.footer#yjsg7 {
  background: linear-gradient(#f4f2f2, #e5e3e3 80%, #dadada 100%);
}

.footer {
  .column {
    width: 30%;
    &:nth-child(2){
      width: 40%;
    }
  }
}

.expandable {
  display: none;
  &.expanded {
    display: block;
  }
}

.menunav a {
  color: white !important;
}

.module__image {
  max-width: 202px;
  border: 1px solid #DDD;
  margin: 0 5px 10px 5px;
  padding: 5px;
  background: #fff;
}

.container {
  max-width: 1000px;
  width: 100%;
}

header {
  & .header__logo, & .header__info {
    width: 50%;
  }

  .header__logo {
    float: left;
    a {
      width: 100%;
      position: relative;
    }
  }
  .header__info {
    float: right;
  }
}

.why-pridoc {
  .reasons-container {
    width: 22.5%;
  }
  .main-container {
    width: 77.5%;
  }
}

.modules-page {
  .diagram, .main-content {
    width: 49%;
  }

  .main-content {
    padding-top: 125px;
  }
  .diagram {
    position: relative;
    border: 1px solid black;
    text-align: center;
    margin: 31px 5px;
    img {
      width:100%;
    }

    .module-link {
      color: white;
      border-radius: 7px;
      text-align: center;
      margin: 35px 25%;
      font-size: 23px;
      line-height: 28px;
      position: relative;
      a {
        color: white;
        padding: 17px;
        display: block;
        text-decoration: none;
      }

      &:not(:last-child)::after {
        content: url('/static/images/arrow-down.png');
        position: absolute;
        bottom: -33px;
        left: 50%;
        transform: translateX(-50%);
      }
      &.module-link--blue {
        background-color: #93cddd;
      }
      &.module-link--orange {
        background-color: #e46c0a;
      }
      &.module-link--green {
        background-color: #92d050;
      }
    }
  }
}

.license-page {
  .main-content {
    width: 77.5%;
  }
  .license-info {
    width: 22.5%;
  }
}

.gallery {
  text-align: center;
}