@media (max-width: 720px) {
  .horiznav {
    width: 100%;
    height: auto;
    background: none;
    .menunav li {
      width: 100%;
      float: none;
      background: #8f8f8f;

      &:nth-child(2n) {
        background: #7a7a7a;
      }
    }
  }

  .logo {
    max-width: 100%;
  }

  header {
    & .header__logo, & .header__info {
      width: 100% !important;
      float: none !important;
      text-align: center;
      max-width: none !important;
    }
  }

  .why-pridoc {
    .reasons-container {
      display: none;
    }
    .main-container {
      width: 100% !important;
    }
  }

  .modules-page {
    .main-content, .diagram {
      width: 100% !important;
    }

    .diagram img {
      width: 100%;
    }

    .main-content {
      padding-top: 0 !important;
    }

    @for $i from 1 through 7 {
      #mod_#{$i} {
        top: (45px + (($i - 1) * 105)) !important;
      }
    }
  }

  .license-page {
    .main-content, .license-info {
      width: 100% !important;
    }
  }

  .scroll-wrapper {
    max-width: 375px;
    overflow: auto;
  }

  .hidden-mobile {
    display: none;
  }

  .footer {
    .column {
      width: 50% !important;
    }
  }
}